*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 350px;
    margin: 0 auto;
}
.container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;    
}
.header .logo img{
    width: 60px;
}
.header .nav-link ul li{
    display: inline-block;
    margin-right: 10px;
}
.header .nav-link ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
}
.section-1 .illustration-1{
    height: 300px;
    padding: 20px 35px 20px 20px;
    margin-top: 70px;
}
.section-1 .illustration-1 img{
    width: 100%;
    height: 100%;
}
.section-1 .description-1{
    padding: 20px;
    text-align: center;
}
.section-1 .description-1 h1{
    font-size: 1.7rem;
    margin: 15px 0 25px 0;
}
.section-1 .description-1 p{
    font-size: 17px;
    margin-bottom: 25px;
    color: hsl(0, 0%, 75%);
}
.form-field-1{
    display: flex;
    flex-direction: column;  
}
.form-field-1 input:first-child{
    height: 40px;
    border-radius: 5px;
    padding: 20px;
    color: hsl(0, 0%, 75%);
}
.form-field-1 input:nth-child(2){
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: hsl(224, 85%, 50%);
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.section-2{
    width: 100%;
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-2 .bg-curve{
    background-color: hsl(0, 0%, 100%);
    background-image: url("../images/bg-curve-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}
.section-2 .illustration-2{
    height: 300px;
    padding: 20px 35px 20px 20px;
    margin-top: 70px;
}
.section-2 .illustration-2 img{
    height: 100%;
    width: 100%;
}
.section-2 .description-2{
    padding: 20px;
}
.section-2 .description-2 h3{
    margin: 20px 0 20px 0;
    text-align: center;
}
.description-2 > p{
    margin-bottom: 20px;
    font-size: 15px;
    color: hsl(0, 0%, 75%);
    line-height: 20px;
}
.description-2 .link{
    color: hsl(170, 45%, 43%);
    max-width: 155px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto    
}
.description-2 .link hr{
    width: 100%;
    border: 1px solid hsl(170, 45%, 43%);
    margin-top: 5px;
}
.description-2 .link p a{
    text-decoration: none;
    color: hsl(170, 45%, 43%);
}
.description-2 .link img{
    padding-left: 5px;
}
.description-2 .aside{
    background-color: hsl(0, 0%, 100%);
    margin: 20px;
    height: 200px;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 5px 5px 5px 5px hsl(0, 0%, 75%);
}
.description-2 .aside > p{
    margin: 10px 0 10px 0;
    text-align: justify;
}
.avatar{
    display: flex;
    align-items: center;
}
.avatar img{
    width: 30px;
    border-radius: 50%;
}
.avatar .avatar-name p{
    font-size: 10px;
    padding: 0 0 0 10px;
    font-weight: bold;
    line-height: 9px;
}
.avatar .avatar-name small{
    padding: 0 0 0 10px;
    font-size: 8px;
}
.section-3{
    background-color: hsl(238, 22%, 44%);
    text-align: center;
    padding: 25px 25px 60px 25px;
    font-size: 17px;
    color: hsl(0, 05%, 75%);
}
.description-3 h3, .description-3 p{
    margin-top: 15px;
}
.description-3 h3{
    color: hsl(0, 0%, 95%);
}
.description-3 p{
    color: hsl(0, 0%, 75%);
    line-height: 25px;
}
.form-field-2{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.form-field-2 > input:nth-child(1){
    width: 230px;
    height: 30px;
    margin: 0 auto;
    padding-left: 10px;
}
.form-field-2 > input:nth-child(2){
    width: 230px;
    height: 30px;
    margin: 10px auto;
    padding-left: 10px;
    background-color: hsl(224, 85%, 50%);
    border: none;
    color: hsl(0, 0%, 75%);
    cursor: pointer;
}
.footer{
    background-color: hsl(243, 87%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
    color: hsl(0, 0%, 75%);
}
.footer-location{
    padding: 20px 0px 0 20px;
    width: 300px;
}
.footer-logo img{
    width: 130px;
    filter: brightness(0) invert(1);
    padding-left: 5px;
}
.phone{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
    padding-left: 5px;
}
.phone img{
    width: 15px;
}
.email{
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin-top: 15px;
    padding-left: 5px;
}
.email img{
    width: 15px;
    height: 15px;
}
.footer-nav{
    padding: 20px 0 5px 20px;
}
.footer-nav>ul>li{
    list-style: none;
    padding-bottom: 10px;
    cursor: pointer;
}
.footer-nav>ul>li:hover{
    color: hsl(238, 22%, 44%);
}
.footer-contact{
    padding: 20px 0 20px 20px;
    cursor: pointer;
}
.footer-contact>ul>li{
    list-style: none;
    padding-bottom: 10px;
}
.footer-contact>ul>li:hover{
    color: hsl(238, 22%, 44%);
}
.footer-socials{
    margin: 0 auto;
    width: 100px;
}
.footer-socials>ul{
    display: flex;
    justify-content: space-around;
}
.footer-socials>ul>li{
    list-style: none;
}
